body {
    margin: 0;
}
.header {
   background: #000000;
   color: #FFFFFF;
   padding: 1rem 0;
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
}
.logo-nav-container {
   display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
  letter-spacing: 10px;
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
    margin-left: 2%;
}
i#ojo {
    color: #ffffff;
    margin-left: -60%;
    font-size: 2rem;
}
.navigation ul {
   margin: 0;
   padding: 0;
   list-style: none;
}
.navigation ul li {
   display: inline-block;
}
  .navigation ul li a {
     display: block;
     padding: 0.5rem 1rem;
     text-decoration: none;
     color: #ffffff;
}
.b {
    margin-right: 10px;
    font-size: 1.4rem;
}
.c {
    /* margin-right: 100px; */
    font-size: 1.4rem;
}
.p {
    margin-right: 15px;
    color: #ffffff;
    font-size: 1.4rem;
    font: normal normal normal 14px/1 FontAwesome;
   
}
